<div class="login-page h-100 w-100">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="col-sm-12 col-md-8 col-lg-7 col-xl-6 align-self-center">
        <div class="card card-block mb-0 p-5">
          <div class="logo">
            <img src="../../../assets/images/logo-light-text.png" alt="logo" />
          </div>

          <div class="auth-box auth-panel">
            <form [formGroup]="forgetForm" class="form-horizontal">
              <div *ngIf="!showMessage">
                <label for="email" class="text-center">
                  Enter your email address below and we'll send you<br />instructions on how to reset it.
                </label>
              </div>

              <div *ngIf="!showMessage" class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope envelop-style"></i></span>
                </div>
                <input trim="blur" class="form-control form-control-lg" type="email" [formControl]="forgetForm.controls['uemail']" [(ngModel)]="forgetModel.email" placeholder="Enter your email address" [ngClass]="{'is-invalid': forgetForm.controls['uemail'].hasError('required')}">
              </div>
              <!--<fieldset *ngIf="showMessage" class="form-group">
          <label for="email" class="form-control-label">
            An email with instructions is sent to
          </label>
          <p class="ff-headers">{{forgetModel.email}}</p>
          <label for="email" class="form-control-label">
            Check your email box.
          </label>
        </fieldset>-->

              <fieldset *ngIf="showMessage" class="form-group text-center block-panel">
                Thank you, we have sent an email to <span>{{forgetModel.email}}</span> with further instructions.
              </fieldset>
              <div class="form-group mb-0">
                <button *ngIf="!showMessage" class="btn btn-block btn-lg btn-custom" type="submit" [ladda]="isLoading" [disabled]="!forgetForm.valid" (click)="reset()">Reset My Password</button>
              </div>

              <div class="form-group text-center mb-0">
                <a [routerLink]="['/authentication/login']" id="to-recover" class="link-style text-black">Take me to the login page</a>
              </div>
              <!--<div class="form-group text-center">
          <a *ngIf="showMessage" [routerLink]="['/authentication/login']" class="form-text stay-text-margin bn">Take me to the login page <i class="fa fa-angle-double-right"></i></a>
        </div>-->
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

