.line-container {
  height: 300px;
  width: 100%;
  display: block;
}
.gauge-container {
  height: 300px;
  width: 100%;
  display: block;
}
.bg-header {
  background-color: #B09898;
  color: #913535;
}
.redColor {
  color: darkred;
}

.bg-color-tab {
  background-color: #62000C;
  color: white;
}
