<ngx-loading [show]="(data | json) == '{}'"></ngx-loading>
<form novalidate #testssSubTabOne="ngForm">
  <app-unsaved-changes [formName]="testssSubTabOne"></app-unsaved-changes>
  <app-scroll-handler [name]="testssSubTabOne.id"></app-scroll-handler>
  <div [hidden]="(data | json) == '{}'" class="accordion-panel card form-card">
    <div class="card-header fa fa-plus-circle collapse-btn" (click)="collapsed[0] = !collapsed[0]" [attr.aria-expanded]="!collapsed[0]" [ngClass]="{'is-invalid': collapsed[0]}">
      Test Sub Header Section
    </div>
    <div [ngbCollapse]="collapsed[0]" class="card-block">
      <div class="row">
        <div class="col-lg-3 col-sm-9">
          <div class="form-group" [ngClass]="{'has-danger': TestSubText1?.errors?.required}">
            <label for="TestSubText1">Test Sub Text 1<span class="required-denote">*</span></label>
            <input trim="blur" type="text" maxlength="50" [(ngModel)]="data.TestSubText1" name="TestSubText1" #TestSubText1="ngModel" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="TestSubText2">Test Sub Text 2</label>
            <input trim="blur" type="text" maxlength="10" [(ngModel)]="data.TestSubText2" name="TestSubText2" #TestSubText2="ngModel" class="form-control">
          </div>
          <div class="form-group">
            <label for="TestSubText3">Test Sub Text 3</label>
            <input trim="blur" type="text" maxlength="100" [(ngModel)]="data.TestSubText3" name="TestSubText3" #TestSubText3="ngModel" class="form-control">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="IsTestSub1">Test Sub 1?</label>
            <div class="customFieldGroup">
              <pb-switch class="custom-switch pl-0" (change)="onIsTest1($event)" [(ngModel)]="data.IsTestSub1" name="IsTestSub1" id="IsTestSub1" labelOn="Yes" labelOff="No"></pb-switch>
            </div>
          </div>
          <div class="form-group">
            <label for="IsTestSub2">Test Sub 2?</label>
            <div class="customFieldGroup">
              <pb-switch class="custom-switch pl-0" (change)="onIsTest2($event)" [(ngModel)]="data.IsTestSub2" name="IsTestSub2" id="IsTestSub2" labelOn="Yes" labelOff="No"></pb-switch>
            </div>
          </div>
          <div class="form-group">
            <label for="IsTestSub3">Test Sub 3?</label>
            <div class="customFieldGroup">
              <pb-switch class="custom-switch pl-0" (change)="onIsTest3($event)" [(ngModel)]="data.IsTestSub3" name="IsTestSub3" id="IsTestSub3" labelOn="Yes" labelOff="No"></pb-switch>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="TestSubText4">Test Text 4</label>
            <textarea trim="blur" rows="7" type="text" [(ngModel)]="data.TestSubText4" name="TestSubText4" #TestSubText4="ngModel" class="form-control" [disabled]="TestText4Info.isReadonly"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [hidden]="(data | json) == '{}'" class="accordion-panel card form-card">
    <div class="card-header fa fa-plus-circle collapse-btn" (click)="collapsed[1] = !collapsed[1]" [attr.aria-expanded]="!collapsed[1]" [ngClass]="{'is-invalid': collapsed[1]}">
      Test Sub Date Section
    </div>
    <div [ngbCollapse]="collapsed[1]" class="card-block">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="testSubDate1">Test Date 1</label>
            <div class="input-group" (clickOutside)="testSubDate1picker.close()">
              <input class="form-control" #testSubDate1="ngModel" #testSubDate1picker="ngbDatepicker" id="testSubDate1" name="testSubDate1" placeholder="dd/mm/yyyy" [(ngModel)]="TestSubDate1" ngbDatepicker>
              <div class="input-group-append">
                <button class="btn" (click)="testSubDate1picker.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="testSubDate2">Test Date 2</label>
            <div class="input-group" (clickOutside)="testSubDate2picker.close()">
              <input class="form-control" #testSubDate2="ngModel" #testSubDate2picker="ngbDatepicker" id="testSubDate2" name="testSubDate2" placeholder="dd/mm/yyyy" [(ngModel)]="TestSubDate2" ngbDatepicker>
              <div class="input-group-append">
                <button class="btn" (click)="testSubDate2picker.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="testSubDate3">Test Date 3</label>
            <div class="input-group" (clickOutside)="testSubDate3picker.close()">
              <input class="form-control" #testSubDate3="ngModel" #testSubDate3picker="ngbDatepicker" id="testSubDate3" name="testSubDate3" placeholder="dd/mm/yyyy" [(ngModel)]="TestSubDate3" ngbDatepicker>
              <div class="input-group-append">
                <button class="btn" (click)="testSubDate3picker.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [hidden]="(data | json) == '{}'" class="accordion-panel card form-card">
    <div class="card-header fa fa-plus-circle collapse-btn" (click)="collapsed[2] = !collapsed[2]" [attr.aria-expanded]="!collapsed[2]" [ngClass]="{'is-invalid': collapsed[2]}">
      Test Sub Dropdown Section
    </div>
    <div [ngbCollapse]="collapsed[2]" class="card-block">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="TestSubType1">Test Type 1</label>
            <ng-select [selectOnTab]="true" [items]="data.vw_LookupTestType" bindLabel="LookupValue" bindValue="LookupId" groupBy="GroupBy" [(ngModel)]="data.TestSubType1Id" #TestSubType1="ngModel" name="TestType1">
            </ng-select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="TestSubType2">Test Type 2</label>
            <ng-select [selectOnTab]="true" [items]="data.vw_LookupTestType" bindLabel="LookupValue" bindValue="LookupId" groupBy="GroupBy" [(ngModel)]="data.TestSubType2Id" #TestSubType2="ngModel" name="TestSubType2">
            </ng-select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="TestSubType3">Test Type 3</label>
            <ng-select [selectOnTab]="true" [items]="data.vw_LookupTestType" bindLabel="LookupValue" bindValue="LookupId" groupBy="GroupBy" [(ngModel)]="data.TestSubType3Id" #TestSubType3="ngModel" name="TestSubType3">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="panel-footer text-right bg-light lter">
    <div class="float-left">
      <small class="required">* denotes required field</small>
    </div>
    <button type="button" class="btn btn-success" [hidden]="appInfo.isReadonly && !appInfo.isUserReadonly" [disabled]="!testssSubTabOne.form.valid" [ladda]="isSaving" (click)="submit(testssSubTabOne.form.valid)">Save</button>
    <button class="btn btn-danger"
            [disabled]="appInfo.isUserReadonly"
            [hidden]="!queryParams.id || appInfo.isDeleteHidden"
            [ladda]="isDeleting"
            mwlConfirmationPopover
            popoverTitle="Delete Template"
            popoverMessage="Are you sure you want to delete this test sub?"
            placement="top"
            (confirm)="delete()"
            (cancel)="true">
      Delete
    </button>
    <button type="button" class="btn btn-dark" (click)="goBack()">Cancel</button>
  </footer>
</form>
