<div class="login-page h-100 w-100">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="col-sm-12 col-md-8 col-lg-7 col-xl-6 align-self-center">
        <div class="card card-block mb-0 p-5">
          <div class="logo">
            <img src="../../../assets/images/logo-light-text.png" alt="logo" />
          </div>

          <div class="auth-box auth-panel">
            <p class="text-center">CREATE PASSWORD</p>
            <div class="has-danger"><p class="form-control-feedback"></p></div>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.valid)" autocomplete="off" class="form-horizontal">

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock lock-style"></i></span>
                </div>
                <input type="{{ptype}}" (keyup)="inputChange()" (focus)="showList()" (focusout)="hideList()" [(ngModel)]="model.Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#{}\$%\^&\*()\[\]\|\`\~\\\';:,\.\?\/\^\+\,\-\<\>\=\_\&quot;]).{8,40}$" formControlName="password" placeholder="Password" class="form-control form-control-lg" required>
                <a (click)="showHidePassword()" class="show-pass">{{ptext}}</a>
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock lock-style"></i></span>
                </div>
                <input type="{{cptype}}" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control form-control-lg" required>
                <a (click)="showHideConfPassword()" class="show-pass">{{cptext}}</a>

              </div>

              <ul *ngIf="show" class="password-hint">
                <li style="width:300px;font-size: 13px !important;text-decoration:none;list-style-type: none;">Password needs at least:</li>
                <li style="width:300px" class="{{icon_total_charecter}}">8 characters</li>
                <li style="width:300px" class="{{icon_upper}}">1 uppercase</li>
                <li style="width:300px" class="{{icon_lower}}">1 lowercase</li>
                <li style="width:300px" class="{{icon_number}}">1 number</li>
                <li style="width:300px" class="{{icon_spectial_charecter}}">1 special character</li>
              </ul>

              <p class="form-control-feedback" *ngIf="form.errors?.doesMatchPassword">Password does not match</p>

              <div class="form-group text-center mb-0">
                <button class="btn btn-primary btn-block btn-block-margin" [ladda]="isLoading" [disabled]="!form.valid" type="submit">Submit</button>
              </div>


              <div class="form-group text-center mb-0">
                <a [routerLink]="['/authentication/login']" class="link-style">Back to the login page </a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



      
