<ngx-loading [show]="isLoading"></ngx-loading>
<div class="card form-card">
  <div class="card-header">
    Dashboard Object
  </div>
  <div class="card-block">
    <form novalidate #dashboardForm="ngForm">
      <app-unsaved-changes [formName]="dashboardForm"></app-unsaved-changes>
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="menuOption">Dashboard Object</label>
            <input trim="blur" type="text" [(ngModel)]="data.DashboardOption" name="dashboardOption" #dashboardOption="ngModel" class="form-control" readonly>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group" [ngClass]="{'has-danger': aspNetRoleIds?.errors?.required}">
            <label for="types">Role(s)<span class="required-denote">*</span></label>
            <ng-select [selectOnTab]="true" [multiple]="true" bindLabel="LookupValue" bindValue="LookupId" groupBy="GroupBy" #aspNetRoleIds="ngModel" [hideSelected]="true" (change)="sortRoles($event)" [items]="data.allRoles" name="aspNetRoleIds" [(ngModel)]="data.AspNetRoleIds" placeholder="No Role" required>
            </ng-select>
            <div class="form-control-feedback" *ngIf="aspNetRoleIds?.errors?.required && submitted">Role is required!</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<footer class="panel-footer text-right bg-light lter">
  <div class="float-left">
    <small class="required">* denotes required field</small>
  </div>
  <button type="button" class="btn btn-success" *ngIf="(!appInfo.isReadonly || appInfo.isUserReadonly) && !dashboardTab.isReadonly" [disabled]="!dashboardForm.form.valid" [ladda]="isSaving" (click)="submit(dashboardForm.form.valid)">Save</button>
  <button type="button" class="btn btn-dark" (click)="goBack()">Cancel</button>
</footer>
