<div class="card form-card">
  <div class="card-header">
    Change Password
  </div>
  <div class="card-block">
    <form [formGroup]="changePasswordForm" #PasswordForm="ngForm" novalidate autocomplete="off">
      <request-validation [entity]="data"></request-validation>
      <app-unsaved-changes [formName]="changePasswordForm"></app-unsaved-changes>
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group" [ngClass]="{'has-danger':  changePasswordForm.controls.oldPassword?.errors?.required}">
            <label for="oldPassword">Current Password<span class="required-denote">*</span></label>
            <input type="password" [(ngModel)]="data.OldPassword" class="form-control" formControlName="oldPassword" required>
            <div class="form-control-feedback" *ngIf="changePasswordForm.controls.oldPassword?.errors?.required && submitted">Current Password is required!</div>
          </div>

          <div class="form-group text-left" [ngClass]="{'has-danger': changePasswordForm.controls.newPassword?.errors?.required || changePasswordForm.controls.newPassword?.errors?.pattern}">
            <label for="firstName">New Password<span class="required-denote">*</span></label>

            <div class="input-group">
              <a (click)="showHidePassword()" class="show-pass-change-password">{{ptext}}</a>
              <input type="{{ptype}}" (keyup)="inputChange()" (focus)="showList()" (focusout)="hideList()" [(ngModel)]="data.NewPassword" formControlName="newPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#{}\$%\^&\*()\[\]\|\`\~\\\';:,\.\?\/\^\+\,\-\<\>\=\_\&quot;]).{8,40}$" class="form-control" minlength="6" required>
            </div>

            <ul *ngIf="show" class="password-hint">
              <li style="width:300px;font-size: 13px !important;text-decoration:none;list-style-type: none;">Password needs at least:</li>
              <li style="width:300px" class="{{icon_total_charecter}}">8 characters</li>
              <li style="width:300px" class="{{icon_upper}}">1 uppercase</li>
              <li style="width:300px" class="{{icon_lower}}">1 lowercase</li>
              <li style="width:300px" class="{{icon_number}}">1 number</li>
              <li style="width:300px" class="{{icon_spectial_charecter}}">1 special character</li>
            </ul>
            <div class="form-control-feedback" *ngIf="changePasswordForm.controls.newPassword?.errors?.required && submitted">New Password is required!</div>
          </div>

          <div class="form-group" [ngClass]="{'has-danger':  changePasswordForm.controls.confPassword?.errors?.required}">
            <label>Confirm Password<span class="required-denote">*</span></label>

            <div class="input-group">
              <input type="{{cptype}}" formControlName="confPassword" class="form-control" required>
              <a (click)="showHideConfPassword()" class="show-pass-change-password">{{cptext}}</a>
            </div>

            <p class="form-control-feedback" *ngIf="changePasswordForm.errors?.doesMatchPassword">Password does not match</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<footer class="panel-footer text-right lter">
  <div class="float-left">
    <small class="required">* denotes required field</small>
  </div>
  <button type="submit" [ladda]="isUpdating" class="btn btn-primary" [disabled]="!PasswordForm.valid" (click)="submit(PasswordForm.valid)">Update</button>
  <button type="button" class="btn btn-dark" (click)="goBack()">Close</button>
</footer>
