<div class="card form-card">
  <div class="card-header">
    <span class="fa fa-globe"></span>Dashboard Objects
  </div>
  <div class="card-block">
    <button #btnBulkEdit *ngIf="!IsEdited && !appInfo.isReadonly" class="btn btn-success btn-addon mt-0 mb-20" (click)="onBulkEdit(true)"><i class="fa fa-pencil-alt fa-fw m-r-xs"></i> Edit Records</button>
    <div class="responsive-datatable">
      <ngx-datatable #pbTable
                     class="material fix-header"
                     [headerHeight]="tableOptions.HeaderHeight"
                     [footerHeight]="tableOptions.FooterHeight"
                     [columnMode]="tableOptions.ColumnMode"
                     [rowHeight]="tableOptions.RowHeight"
                     [rows]="rows"
                     [rowClass]="getRowClass" id="dashboardTable" [perfectScrollbar]="config">

        <ngx-datatable-column prop="DashboardObjectNameText" name="Dashboard Object Name" [sortable]="false">
          <ng-template ngx-datatable-cell-template
                       let-rowIndex="rowIndex"
                       let-value="value"
                       let-row="row">
            <span>
              {{row.DashboardObject}}
            </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="DashboardObjectTypeText" name="Dashboard Object Type" [sortable]="false">
          <ng-template ngx-datatable-cell-template
                       let-rowIndex="rowIndex"
                       let-value="value"
                       let-row="row">
            <span>
              {{row.DashboardObjectType}}
            </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="AccessType" name="Access Type" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span *ngIf="!IsEdited">
              {{row.AccessType}}
            </span>
            <ng-select [selectOnTab]="true"
                       *ngIf="IsEdited"
                       [items]="data.vw_LookupAccessType"
                       bindLabel="LookupValue"
                       bindValue="LookupId"
                       class=""
                       placeholder="Access Type"
                       [(ngModel)]="row.AccessTypeId"
                       [id]="'AccessTypeId' + row.AccessTypeId + rowIndex"
                       [name]="'AccessTypeId' + row.AccessTypeId + rowIndex"
                       (change)="onCellChanged(row)">
            </ng-select>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

  <div *ngIf="IsEdited" class="card-footer text-right">
    <button type="button" class="btn btn-success" (click)="onUpdateRows()">Save</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
  </div>
</div>
