<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AppContext"
      connectionString="Data Source=eeo1r10wsu.database.windows.net;Initial Catalog=PBASE1;User ID=PBASE_Login;Password=Wpf5pG5kxpYcnb7Z;"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="PBASEUrl" value="https://pbase-live.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FileStackKey" value="AqCmIA40Rta5UyDRy2dbMz" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FileStackContainer" value="secure/pbase-live" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FileStackSignature" value="674a4c936d7e19b36ed6f1b032133706165ff693c167748c027879fb94b5bfdd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FileStackPolicy" value="eyJleHBpcnkiOjQxMDIzNDA0MDAsImNhbGwiOlsicmVhZCIsInN0b3JlIiwiY29udmVydCIsInJlbW92ZSJdfQ==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
